/* Global Styles */
body {
  font-family: 'Georgia', serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}


nav ul {
  
  padding: 0;
  background-color: rgb(245, 102, 13);
  text-align: center;
  
}

nav ul li {
  display: inline-block;
  margin: 10px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  transition: 750ms;
}



nav a:link,
nav a:visited,
nav a:focus,
nav a:active {
  color: black;
  border: 0px;
}

nav a:hover {
  background-color: #dfdfdf;
}



h1, h2, h3{
  color: #222;
  margin-left: 20px;
  margin-right: 20px
}

h1 {
   text-align:center;
   color: rgb(245, 102, 13)
}

p {
margin-left: 20px;
margin-right: 75px

}

#playlist {
  margin: 20px;
  
  margin-top:70px;
  margin-left: 20px;
  
}

#homebio {
  text-align:center;
}

#newplaylist {
  margin: 20px;
  
  margin-top:70px;
  margin-left: 20px;
text-align:center
}

#bassimg {
display: block;
margin-left: auto;
margin-right:auto;
width: 50%



}


